*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* VAR (colors of project) */

:root {
  --pb-color: #4d5ae5;
  --dark-color: #2e2f42;
  --suc-color: #31d0aa;
  --txt-color: #434455;
  --subtxt-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --additional-color: #ffffff;
}

/* HEADER */

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
 
}

.header-shadow {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo > .logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--pb-color);
}

.logo-web > .logo-studio-header {
  color: var(--dark-color);
}

.logo-web > .logo-studio-footer {
  color: var(--light-color);
}

.header-links {
  display: flex;
  margin: 0 0 0 77px;
  gap: 40px;
}

.header-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
}
.header-links .header-link:hover,
.header-links .header-link:focus {
  color: var(--pb-color);
}

.header-contacts {
  display: flex;
  margin: 0 0 0 auto;
  gap: 40px;
}

.header-contact {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-color);
  padding: 24px 0;
}
.header-contacts .header-contact:hover,
.header-contacts .header-contact:focus {
  color: var(--pb-color);
}

/* HERO */

.section-hero {
  display: block;
  padding: 192px 0;
  background-color: var(--dark-color);
  text-align: center;
}
.title-hero {
  margin: 0 auto 48px auto;
  text-align: center;
  max-width: 500px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.0714;
  letter-spacing: 0.02em;
  color: var(--additional-color);
}
.button-hero {
  background: var(--pb-color);
  border-color: var(--pb-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.04em;
  color: var(--additional-color);
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background: var(--pb-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}
.button-hero:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* SCILLS */

.scills-padding {
  padding: 120px 0;
}

.scills-title-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.scills-card-set {
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 4);
  gap: 24px;
}

.scills-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.scills-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-color);
}

/* PHOTO CARDS */

.works-padding {
  padding-bottom: 120px;
}

.photo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111;
  color: var(--dark-color);
  text-align: center;
}

.photo-card-set {
  display: flex;
  flex-basis: calc((100% - 2 * 24px) / 3);
  gap: 24px;
  margin-top: 72px;
}

.image-size {
  display: block;
  max-width: 100%;
}

/* TEAM CARDS */

.team-style {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111;
  color: var(--dark-color);
  text-align: center;
}

.team-card-set {
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 4);
  gap: 24px;
  margin-top: 72px;
}

.unit-of-team {
  background: var(--additional-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-text {
  padding: 32px 16px;
  text-align: center;
}
.unit-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.unit-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--txt-color);
}

/* FOOTER */

.footer-style {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-text-block {
  display: block;
  width: 264px;
}

.text-of-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-top: 16px;
}

/* Finish of styles for file "index.html"*/

/* Start of styles for file "portfolio.html" */

.main-padding {
  padding: 96px 0 120px 0;
}

.btns-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-portfolio {
  padding: 8px 16px;
  background: var(--light-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--pb-color);
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  color: var(--additional-color);
}
.portfolio-title-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.grid-cards {
  display: flex;
  flex-basis: calc((100% - 2 * 24px) / 3);
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin: 0;
}

.card-portfolio {
  max-width: 360px;
  background: var(--additional-color);
}

.card-txt-padding {
  padding: 16px 32px;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--txt-color);
  margin-top: 8px;
  padding: 0;
}
